<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<style type="text/css">
  .heavy {
    font: bold 30px sans-serif;
  }

  #refresh-btn {
    float: right;
    font-size: 12px;
    border-radius: 0;
  }

  svg {
    font: 10px sans-serif;
  }

  .vizbackground {
    background-color: white;
    height: 550px width: 960px
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }

  path.domain {
    stroke: none;
  }

  .y .tick line {
    stroke: #ddd;
  }



  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .y.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .brush .extent {
    stroke: #fff;
    fill-opacity: .225;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
  }

  .legend rect {
    fill: white;
    stroke: black;
    opacity: 1.0;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
</style>

<body>
  <div class="perspective effect-rotate-left">
    <div class="container">
      <div class="outer-nav--return"></div>
      <div id="viewport" class="l-viewport">
        <div class="l-wrapper">
          <header class="header">
            <div class="header--nav-toggle">
              <span></span>
            </div>
          </header>
          <nav class="l-side-nav">
            <ul class="side-nav">
              <li class="is-active"><span>Home</span></li>
              <li><span>Most Complained Companies</span></li>
              <li><span>Company Products Breakdown</span></li>
              <li><span>Issues Complained & Averages</span></li>
              <li><span>References</span></li>
            </ul>
          </nav>
          <ul class="l-main-content main-content">
            <li class="l-section section section--is-active">
              <div class="intro">
                <h2>About the Visualization</h2>
                <p>
                  This visualization is an interactive slideshow which helps the user explore the Consumer Complaints Database. The dataset holds more than a million records from 2014-2018 but I've only included records from 2016-2018, since there wasn't anything interesting
                  back then. The dataset required a lot of data wrangling and scrubbing, for which I've used Pandas, the application actually generates data dynamically as you go trough the slides, so the first thing you have to do
                  to get started is to select a time period you would like to explore on the first visualization.
                  <br>
                  <h4>Templates Scene</h4> Since I had to somehow make the Tableu visualizations on a hybrid structure, I opted for using the slideshow structure and start the user with the multiline-chart which allows him/her to select a time period, this time period is taken
                  and the application generates two subsequent charts; a Stacked-Bar Chart and a pair of Donut-Charts at the end. The user is expected to scroll, or click on the left-hand side menu to move to the next visualization. They can come back to the first slide and make a different selection,
                  which generates different data on the other charts.
                  <br>
                  <h4>Annotations</h4> All charts are titled properly to indicate what they are trying to show, outter text anotations are minimal, I've only added them on the first graph to help the user understand that the next graphs will be generated dynamically.
                  All charts have tooltips, proper legends, and they also display current the time-period for which they are showing data. On the Stackedbar-graph you can see it on the Y axis, and on the Donut-charts you can see it on the legend, this anotation changes dynamically.
                  <br>
                  <h4>Parameters and Triggers</h4> The main trigger in the visualizations is when you make a time-period selection on the first chart, when this happens two API calls are made to filter data, wrangle it, and generate two new charts. This process happens in the background so there is no transition
                  which the user can observe but in the background these are actually parameters being passed to the subsequent charts. The Donut-Charts at the end have subtle triggers that allow the user identify parts of the chart once they are clicked on.
                </p>
              </div>
            </li>
            <li class="l-section section">
              <div class="work">
                <h2>Most Complained Companies</h2>
                <div class="vizbackground">
                  <div id='multilinetooltip' style='position:absolute;background-color:gray;padding:5px'></div>
                  <svg id='multilinechart'></svg>
                </div>
                <p>
                  * Select a time-period, the next charts generate dynamically with your selection. Try those big spikes, see what they are about.
                </p>
              </div>
            </li>
            <li class="l-section section">
              <div class="work">
                <h2>Company Products Breakdown</h2>
                <div id='stackedbarchart' class="vizbackground">
                </div>
            </li>
            <li class="l-section section">
              <div class="work">
                <h2>Issues Complained & Averages</h2>
                <div id="donut-charts" class="vizbackground">
                </div>
            </li>
            <li class="l-section section">
              <div class="intro">
                <h1>References and Resources</h1>
                <h2>Github Project</h2>
                <ul>
                  <li><a href='https://github.com/maganaluis/CS498-DV-Project' target='_blank'>CS498-DV-Project</a></li>
                </ul>
                <h2>Dataset</h2>
                <ul>
                  <li><a href='https://catalog.data.gov/dataset/consumer-complaint-database' target='_blank'>Consumer Complaint Database</a></li>
                </ul>
                <h2>HTML Template</h2>
                <ul>
                  <li><a href='https://github.com/BuckyMaler/global' target='_blank'>Global: HTML5 website template</a></li>
                </ul>
                <h2>Multiline Chart</h2>
                <ul>
                  <li><a href='http://bl.ocks.org/natemiller/7dec148bb6aab897e561' target='_blank'>Multiple Line Climate Plot with Zoom</a></li>
                  <li><a href='http://bl.ocks.org/ZJONSSON/3918369' target='_blank'>d3.legend example</a></li>
                </ul>
                <h2>Stacked Barchart</h2>
                <ul>
                  <li><a href='http://bl.ocks.org/mstanaland/6100713' target='_blank'>Stacked bar chart with tooltips</a></li>
                </ul>
                <h2>Donut Charts</h2>
                <ul>
                  <li><a href='http://bl.ocks.org/erichoco/6694616' target='_blank'>Interactive Donut Charts</a></li>
                </ul>

              </div>
              </div>
            </li>
          </ul>
          </div>
        </div>
      </div>
      <ul class="outer-nav">
        <li class="is-active">Home</li>
        <li><span>Most Complained Companies</span></li>
        <li><span>Products Breakdown</span></li>
        <li><span>Issues & Averages</span></li>
        <li><span>References</span></li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="static/js/vendor/jquery-2.2.4.min.js"><\/script>')
    </script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/d3.legend.js"></script>
    <script src="static/js/functions-min.js"></script>
    <script src="static/js/multilinechart.js"></script>
    <script src="static/js/stackedbarchart.js"></script>
    <script src="static/js/donutcharts.js"></script>
</body>

</html>
